<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Contents</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">강화학습 이론과 그 응용을 공부하는 그룹</div>
                <div class="intro-heading">DeepReward</div>
                <a href="https://www.facebook.com/groups/DeepReward/" class="page-scroll btn btn-xl">페이스북 딥리워드 그룹</a>
            </div>
        </div>
        <div class="site-category">
            <ul class='cat1'>
              <li><a href="/">DeepReward 101</a>
                <ul>
                    <li><a href="/DeepReward101/About">About</a></li>
                    <li><a href="/DeepReward101/Events">Events</a></li>
                </ul>
              </li>
        
              <li><a href="/">Study</a>
                <ul>
                  <li><a href="/Study/About">About</a></li>
                </ul>
              </li>
            </ul>
          </div>
    </header>

        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}

